<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomeLoan</title>
    <link rel="stylesheet" rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Poppins:wght@200;300;400;500&family=Roboto+Condensed:wght@300;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./incomedetails.component.css">

</head>

<body>

    <!-- Header -->
    <header class="header_top">
        <img src="../../assets/images/logo1.png" alt="HOME LOAN">
        <h1>HOME LOAN</h1>
    </header>

    <!-- Navigation -->
    <nav>
        <ul class="nav_bar">
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="../about">About Us</a></li>
       

            <li><a href="javascript:;">Calculator</a>
                <ul class="first-level-menu">
                    <li><a routerLink="../eligibilitycalculator">Eligibility Calculator</a></li>
                    <li><a routerLink="../emicalculator">Emi Calculatior</a></li>
                </ul>
            </li>
            <li><a routerLink="propertydetails">Application</a></li>
            <li><a routerLink="../loantracker">Loan Tracker</a></li>

          
            <li><a routerLink="../faq">FAQ</a></li>
        </ul>
    </nav>

    <div class="main wrapper">
        <div class="container">

            <section class="calmain">
                <div class="calcontent">

                    <h2>Income Details</h2>
                    <form [formGroup]="incomeForm" (ngSubmit)="onSubmit()">

                        <div class="form-group">
                            <div><label for="type_of_Employment">Type of Employment:</label></div>
                            <select select class="form-control" id="type_of_Employment" name="type_of_Employment"
                                formControlName="type_of_Employment">
                                <option value="Salaried">Salaried</option>
                                <option value="Self Employed">Self Employed</option>
                            </select>

                            <div *ng If="submitted && incomeForm.controls['type_of_Employment'].errors" class="error">
                                <div class="text-danger"
                                    *ngIf="incomeForm.controls['type_of_Employment'].errors['required']">Type of
                                    Employment is required</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div><label for="retirement_Age">Retirement age :</label></div>
                            <input type="number" formControlName="retirement_Age" placeholder="Enter the retirement age"
                                class="form-control">
                            <div *ng If="submitted && incomeForm.controls['retirement_Age'].errors" class="error">
                                <div class="text-danger"
                                    *ngIf="incomeForm.controls['retirement_Age'].errors['required']">Retirment Age is
                                    required</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div><label for="organisation_Type">Organisation Type :</label></div>
                            <input type="text" formControlName="organisation_Type"
                                placeholder="Enter the organisation_Type name" class="form-control">
                            <div *ng If="submitted && incomeForm.controls['organisation_Type'].errors" class="error">
                                <div class="text-danger"
                                    *ngIf="incomeForm.controls['organisation_Type'].errors['required']">
                                    Organisation Type is required</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div><label for="employee_Name">Employee Name :</label></div>
                            <input type="text" formControlName="employee_Name" placeholder="Enter the employee_Name"
                                class="form-control">
                            <div *ng If="submitted && incomeForm.controls['employee_Name'].errors" class="error">
                                <div class="text-danger"
                                    *ngIf="incomeForm.controls['employee_Name'].errors['required']">Employer Name is
                                    required</div>
                            </div>
                        </div>
                        
                        <div class="sub-class">
                            <a href="#"><button class="btn-sub1">Submit</button></a>
                            <a routerLink="loandetails"><button class="btn-sub">Next</button></a>
                        </div>
                    </form>
                </div>
            </section>

        </div>
    </div>

    <!-- Fotter -->
    <footer class="foot-end">
        <p @copyright elv><span>projects &copy;ltd 2021. all rights reserved</span> </p>
        <p powered by><span>Powered by Capgemini</span> </p>
    </footer>


</body>

</html>